/****** header ******/
.home-header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.home-header__title {
    display: grid;
    justify-content: center;
    align-items: center;
}

.links {
    display: grid;
    justify-content: center;
    text-align: left;
    padding: 18px 1%;
}

.donate-today {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin: 6px 0 32px;
}

.donate-today__button {
    width: 80vw;
    max-width: 312px;
}

/****** section 1 ******/
.section__first {
    background: url("./assets/assets/home/annie-spratt-135307-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    display: grid;
    grid-template-rows: auto auto;
}

.section__first--quote {
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 80%;
    margin: 32px 0 106px;
    justify-self: center;
}

.section__first--article {
    display: grid;
    justify-self: center;
    grid-template-rows: auto auto auto;
    background: #FFFFFF;
    width: 80%;
    margin: 0 0 48px 0;
    padding: 0 3%;
}

.section__first--heading {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
}

.section__first--para {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    justify-self: center;
}

.section__first--a {
    display: block;
    text-align: center;
    margin: 32px 0;
}

/****** section 2 ******/
.section__second {
    display: grid;
    grid-template-rows: auto auto;
}

.section__second--heading {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
}

.section__second--articles {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    margin: 10px 5% 22px;
}

.actions {
    margin: 12px 8%;
}

.actions__heading {
    margin-bottom: 5px;
}

/*****Section 3*****/
.section__third {
    background: #354463 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 30px 5%;
}

.section__third--heading {
    display: flex;
    justify-content: space-around;
}

.section__third--para {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 22px 0 36px;
}

.section__third--articles {
    display: grid;
}

.section__third--article {
    display: grid;
    justify-self: center;
    grid-template-rows: auto auto auto;
    background: #FFFFFF;
    width: 80%;
    margin: 48px 0 0 0;
    padding: 0 3% 32px;
    text-align: center;
}

.section__third--articles img {
    width: 80%;
    height: auto;
    justify-self: center;
    position: relative;
    bottom: 30px;
}

.section__third--paragraph {
    margin: 22px 0;
}

/***** section 4 ******/
.section__fourth {
    background-image: url("./assets/assets/home/did-you-know-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto;
}

.section__fourth--container {
    width: 80%;
    margin: 32px 0 22px;
    justify-self: center;
}

.section__fourth--quote {
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
}

.section-fourth--btn {
    margin: 22px 0 22px;
}

.section__fourth--articles {
    justify-self: center;
    width: 80%;
}

.section__fourth--heading {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
}

.did-you-know-boxes {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 0 0 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-right: 2%;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/***** section 5 ******/
.section-fifth {
    margin: 32px;
}

.section-fifth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-fifth__img {
    width: 100%;
}

.stories {
    position: relative;
    top: 20px;
}

.section-fifth__article {
    display: grid;
    grid-template-rows: auto auto;
}

.section-fifth__content {
    background: #354463 0% 0% no-repeat padding-box;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
}

.section-fifth__blockquote {
    font: normal normal bold 22px/28px Helvetica;
    margin-bottom: 20px;
}

.section-fifth__btn {
    margin: 32px;
    justify-self: center;
}

/*** Section 6 ****/
.section-sixth {
    background: #354463 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.section-sixth__quote {
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
    margin: 32px 0 32px;
    justify-self: center;
    text-align: center;
    width: 80%;
}

.section-sixth__article {
    display: grid;
    grid-template-rows: auto auto;
}

.section-sixth__heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.section-sixth__img {
    width: 80%;
    height: auto;
    justify-self: center;
}

.section-sixth__content-container {
    display: grid;
    padding: 32px 0 32px;
}

.section__sixth--article-heading {
    color: #FFFFFF;
    font: normal normal bold 22px/28px Helvetica;
    width: 80%;
    justify-self: center;
    text-align: center;
}

.section__sixth--paragraph {
    width: 80%;
    justify-self: center;
    text-align: center;
    margin: 32px 0 0;
}

.section-sixth__btn {
    margin: 0 0 55px;
    justify-self: center;
}

/**** section 7 ****/
.section-seven {
    display: grid;
    grid-template-rows: auto auto;
    padding: 32px 0;
}

.section-seven h1 {
    width: 80%;
    justify-self: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

.section-seven__input {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 30px 0 0;
    justify-self: center;
}

.section-seven__email {
    border-radius: 100px;
    padding: 12px 2%;
    border: none;
    font: normal normal normal 14px/12px Helvetica;
    margin-right: 2%;
}

.section-seven__btn {
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    font: normal normal bold 16px/19px Helvetica;
    color: #C1F7D5;
    padding: 10px 4%;
    border: none;
}

/**** section 8 ****/
.section-eight {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 60px 32px;
}

.section-eight h1 {
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
    max-width: 94px;
}

.section-eight h2 {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
}

.section-eight div div {
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.quote {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: end;
    font: normal normal normal 44px/46px Flood Std;
    color: #354463;
    margin-top: 60px;
}

.follow-us {
    margin-top: 60px;
}

.learn-more {
    margin-top: 60px;
}

/********************************** Tablet ***************************************/
@media (min-width: 640px) {
    .home-header {
        grid-template-columns: 3fr 2fr;
    }

    .home-header__title {
        justify-content: left;
        padding-left: 60px;
        padding-top: 12px;
    }

    .donate-today {
        grid-row: 1/3;
        grid-column: 2;
        margin: 0;
    }

    .links {
        padding: 10px 1%;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 60px;
    }

    .donate-today__button {
        width: 140px;
        align-self: center;
    }
    /**** section 1 ****/
    .section__first--article {
        padding: 0 60px;
    }
    
    .section__first--heading {
        justify-content: left;
    }
    
    .section__first--para {
        text-align: left;
    }
    
    .section__first--a {
        text-align: left;
    }

    /*****Section 3*****/
    .section__third--heading {
        justify-content: left;
    }

    .section__third--para {
        text-align: left;
    }

    .section__third--article {
        grid-template-columns: auto auto;
        width: auto;
        max-height: 130px;
        padding: 0 5% 192px;
        text-align: left;
    }
    .section__third--articles img {
        width: 100%;
    }

    .section__third--paragraph {
        margin: 22px 0 22px 32px;
        text-align: left;
    }
    .section__third--heading {
        margin: 22px 0 22px 32px;
    }
    .section__third--article input {
        position: relative;
        right: calc(152px ); /* width of read more btn */
        bottom: 10%;
    }
    /**** section 4 ****/

    .section__fourth {
        display: flex;
        padding: 5%;
        position: relative;
    }

    .section__fourth--container {
        margin: 0 12px 22px 0;
        justify-self: center;
        width: auto;
    }

    .section-fourth--btn {
        margin: 22px 0 22px;
    }

    .section__fourth--heading {
        justify-content: left;
        position: absolute;
        left: 302px;
        top: 15px;
    }

    .section__fourth--articles {
        justify-self: center;
        width: auto;
    }

    .did-you-know-boxes {
        display: flex;
    }

}