
/****** header ******/
.home-header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}
.home-header__title{
    padding: 2.25rem 1.25rem;
}
.links {
    display: grid;
    justify-content: center;
    text-align: left;
    padding: 18px;
}
.donate-today{
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}
.donate-today__button{
    width: 312px;
}

/****** section 1 ******/
.section__first {
    background-image: url("./assets/assets/home/annie-spratt-135307-unsplash.png");
    display: grid;
    grid-template-rows: auto auto;
    background-size: 100% 100%;
}
.section__first--quote {
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 80%;
    margin: 1.2rem 0;
    justify-self: center;
}
.section__first--article {
    display: grid;
    justify-self: center;
    grid-template-rows: auto auto auto;
    background: #FFFFFF;
    width: 80%;
    margin: 5rem 0 3.4rem 0;
}
.section__first--heading {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
}
.section__first--para {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    justify-self: center;
    padding: 0.5rem 1.25rem;
}
.section__first--a {
    display: block;
    text-align: center;
    margin: 1.25rem 0;
    padding: 0.5rem 1.25rem;
}

/****** section 2 ******/
.section__second {
    display: grid;
    grid-template-rows: auto auto;
}
.section__second--heading {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
}
.section__second--articles {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    padding: 1.75rem 2rem;
}
.actions {
    margin-bottom: 1.25rem;
}
.actions__heading {
    margin-bottom: 5px;
}