body {
    background-color: bisque;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;   
}

body * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #D1D2D4;
    min-height: 40px;
    margin-bottom: 15px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section article{
    width: 100%;
}

section article p{
    min-height: 200px;
}

.paragraph-one {
    background-color: #EF4036;
}

.paragraph-two {
    background-color: #FCB040;
}

aside {
    background-color: #F5EE31;
    width: 100%;
    min-height: 200px;
}

footer {
    background-color: lightgray;
    min-height: 40px;
    margin-top: 15px;
}


/* Media Queries */
@media (min-width: 640px) {
    section {
        flex-direction: row;
    }
}